<div class="card-notification__content">
  <div class="col-2 px-0 card-notification__avatar">
    {{#if hasUnreadMessages}}
      <a href="" class="notif-circle chat-card__unread">{{chat.unreadMessages}}</a>
    {{/if}}
    {{#if hasUserAvatar}}
      <picture class="picture">
        <img src="{{userAvatar.url}}" alt="Avatar" class="avatar picture__img">
      </picture>
    {{else}}
      {{svg-jar 'icon'}}
    {{/if}}
  </div>
  {{#if showNormalChat}}
    {{#if isButtonNetRoute}}
      {{#link-to 'button-net.index.index.button.my-chat' chat.id (query-params isButton=false id=chat.id) class="col-7  col-md-9 card-notification__text ember-view"}}
      {{!-- {{#link-to 'index.index.button.chat' button.id (query-params isButton=false id=chat.id) class="col-7  col-md-9 card-notification__text ember-view"}} --}}
        <div class="pl-2 text-truncate card-notification__header">
          <div class="card-notification__date {{unless hasUnreadMessages 'card-notification__old'}} card-notification__date--nflex">
            {{chat.lastMessageDateFormated}}
          </div>
        </div>
        <h2 class="text-truncate card-notification__title">
          {{user.nickname}}
        </h2>
      {{/link-to}}
    {{else}}
      {{#link-to 'index.index.button.my-chat' chat.id (query-params isButton=false id=chat.id) class="col-7  col-md-9 card-notification__text ember-view"}}
      {{!-- {{#link-to 'index.index.button.chat' button.id (query-params isButton=false id=chat.id) class="col-7  col-md-9 card-notification__text ember-view"}} --}}
        <div class="pl-2 text-truncate card-notification__header">
          <div class="card-notification__date {{unless hasUnreadMessages 'card-notification__old'}} card-notification__date--nflex">
            {{chat.lastMessageDateFormated}}
          </div>
        </div>
        <h2 class="text-truncate card-notification__title">
          {{user.nickname}}
        </h2>
      {{/link-to}}
    {{/if}}
  {{else}}
    {{#if isButtonNetRoute}}
      {{#link-to 'button-net.profile.button.my-chat' chat.id (query-params isButton=false id=chat.id) class="col-7  col-md-9 card-notification__text ember-view"}}
      {{!-- {{#link-to 'profile.button.chat' button.id (query-params isButton=false id=chat.id) class="col-7  col-md-9 card-notification__text ember-view"}} --}}
        <div class="pl-2 text-truncate card-notification__header">
          <div class="card-notification__date {{unless hasUnreadMessages 'card-notification__old'}} card-notification__old card-notification__date--nflex">
            {{chat.lastMessageDateFormated}}
          </div>
        </div>
        <h2 class="text-truncate card-notification__title">
          {{user.nickname}}
        </h2>
      {{/link-to}}
    {{else}}
      {{#link-to 'profile.button.my-chat' chat.id (query-params isButton=false id=chat.id) class="col-7  col-md-9 card-notification__text ember-view"}}
      {{!-- {{#link-to 'profile.button.chat' button.id (query-params isButton=false id=chat.id) class="col-7  col-md-9 card-notification__text ember-view"}} --}}
        <div class="pl-2 text-truncate card-notification__header">
          <div class="card-notification__date {{unless hasUnreadMessages 'card-notification__old'}} card-notification__old card-notification__date--nflex">
            {{chat.lastMessageDateFormated}}
          </div>
        </div>
        <h2 class="text-truncate card-notification__title">
          {{user.nickname}}
        </h2>
      {{/link-to}}
    {{/if}}
  {{/if}}
  <div class="col-3 col-md-1 px-0 d-flex align-items-center justify-content-end">
    <button {{action 'showConfirmationDialog'}} class="card-notification__close">
      {{svg-jar 'cross' class="icon"}}
    </button>
  </div>
</div>

{{#if showConfirmation}}
  {{#modal-dialog
    onClose=(action 'showConfirmationDialog')
    targetAttachment="center"
    translucentOverlay=true
    animatable=true
    containerClass="card-notification__remove-modal-content chat-card__radius"
    overlayClass="card-notification__remove-modal"
  }}
    <div class="row">
      <div class="col-12 px-4 mt-3">
        <header class="ember-modal-dialog__header ember-modal-dialog__header--bigger px-3">
          <h5 class="ember-modal-dialog__title ember-modal-dialog__title--reservation-picker">
            ¿Seguro que quieres borrar este chat?
            <br>
            <div class="mt-4 mb-5">
              <small>
                ¡Esta acción no se puede deshacer!
                <br>
                Todos los mensajes serán eliminados y no volveran a ser accesibles.
              </small>
            </div>
          </h5>
        </header>
      </div>
      <div class="col-6 pr-0">
        <button class="button-sample border-0 chat-card__radius--left" {{action 'showConfirmationDialog'}} type="button" name="button">
          Cancelar
        </button>
      </div>
      <div class="col-6 pl-0">
        <button class="button-sample border-0 chat-card__radius--right" {{action 'removeChat'}} type="button" name="button">
          Aceptar
        </button>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
