<div class="container-fluid info-overlay__container pb-3">
  <div class="info-overlay__background align-items-center">
    <div class="info-overlay__content px-0">
      {{#if isButtonNetRoute}}
        <div class="info-overlay__text-center">Bienvenido/a</div>
        <div class="info-overlay__text-center">{{buttonNet.name}} es:</div>
         <div class="info-overlay__text-center">{{buttonNet.description}}</div>
           <span class="mt-1">
             <button class="hashtag hashtag--yellow-home home-welcome-mobile__seeall trending-tags__tag-name mt-2 w-100" {{action 'addInterest'}}>
             Ver temas de la red
             </button>
           </span>
           <span class="mt-1">
             <button class="hashtag hashtag--yellow-home home-welcome-mobile__seeall trending-tags__tag-name mt-2 w-100" {{action 'addInterest'}}>
             Solicitar / ofrecer algo
             </button>
           </span>
      {{else}}
        <div class="info-overlay__text-center">Colabora en lo que quieras.</div>
          {{#if noTrendingTags}}
            <div class="info-overlay__text-center"> Estas son temas populares globales</div>
          {{else}}
            <div class="info-overlay__text-center"> Estos son los temas populares de la zona :</div>
          {{/if}}
    {{/if}}

      <div class="info-overlay__body col-12 px-3 p">
        <p>
          {{#each firstTrendingTags as |tag|}}
            {{#link-to 'index.index' (query-params searchTags=tag.name hideWelcome=true) click=(action 'hideMenu') class="hashtag hashtag--yellow-home trending-tags__tag-name mt-1"}}
              {{tag.name}}
            {{/link-to}}
          {{/each}}
          {{#each firstTrendingTags as |tag|}}
            {{#if isButtonNetRoute}}
              {{#link-to 'button-net.index.index' (query-params searchTags=tag.name hideWelcome=true) click=(action 'hideMenu') class="hashtag hashtag--yellow-home trending-tags__tag-name mt-1"}}
                {{tag.name}}
              {{/link-to}}
            {{else}}
              {{#link-to 'index.index' (query-params searchTags=tag.name hideWelcome=true) click=(action 'hideMenu') class="hashtag hashtag--yellow-home trending-tags__tag-name mt-1"}}
                {{tag.name}}
              {{/link-to}}
            {{/if}}
          {{/each}}
          {{#if moreTrendingTags}}
            {{#if isButtonNetRoute}}
              {{#link-to 'button-net.index.index' (query-params searchTags="" hideWelcome=false) click=(action 'hideMenu') class="hashtag hashtag--yellow-home home-welcome-mobile__seeall trending-tags__tag-name mt-1"}}Ver más{{/link-to}}
            {{else}}
              {{#link-to 'index.index' (query-params searchTags="" hideWelcome=false) click=(action 'hideMenu') class="hashtag hashtag--yellow-home home-welcome-mobile__seeall trending-tags__tag-name mt-1"}}Ver más{{/link-to}}
            {{/if}}
          {{/if}}
          {{#if noTrendingTags}}
            {{#unless isButtonNetRoute}}
              {{#each globalTTSlice as |tag|}}
                  {{#link-to 'index.index' (query-params searchTags=tag.name hideWelcome=true) click=(action 'hideMenu') class="hashtag hashtag--yellow-home trending-tags__tag-name mt-1"}}
                    {{tag.name}}
                  {{/link-to}}
              {{/each}}
            {{/unless}}
            {{#if isButtonNetRoute}}
              {{#each buttonNet.tags as |tag|}}
                {{#link-to 'button-net.index.index' (query-params searchTags=tag.name hideWelcome=true) click=(action 'hideMenu') class="hashtag hashtag--yellow-home trending-tags__tag-name mt-1"}}
                  {{tag.name}}
                {{/link-to}}
              {{/each}}
            {{/if}}
          {{/if}}
        </p>
        <span class="mt-1">
          <button class="hashtag hashtag--yellow-home home-welcome-mobile__seeall trending-tags__tag-name mt-2 w-100" {{action 'addInterest'}}>
          Suscríbete a estos temas
          </button>
        </span>
        <span class="mt-1">
          <button class="hashtag hashtag--yellow-home home-welcome-mobile__seeall trending-tags__tag-name mt-2 w-100" {{action 'addInterest'}}>
            Solicita/Ofrece algo
          </button>
        </span>
      </div>

    </div>
  </div>
</div>
