{{#if showOverlay}}
  <div class="spinner-overlay">
    <div class="spinner-overlay">
      <figure class="spinner-overlay__wrapper">
        {{svg-jar "hashtag" class="spinner-overlay__spinner loading-overlay__loading-icon spinner"}}
      </figure>
    </div>
  </div>
{{/if}}
