<span style="display:none;">{{head-title 'Helpbuttons - Botón' ''}}</span>
{{button-file
  button=button
  chats=chats
  closeAction=(action 'closeAction')
  openConversation=(action 'openConversation')
  socialShareTransition=(action 'socialShareTransition')
  socialShareNetwork=socialShareNetwork
  socialShareURL=socialShareURL
  removeButtonTransition=(action 'removeButtonTransition')
  accessDenied=accessDenied
}}
