{{#link-to 'index.index' class="register-component__close-container"}}{{/link-to}}
<div class="chats__close-container chats__register-container" >
  {{new-button-header
    isNewButton=isNew
    class="new-button-header__register new-button-header__register--button"
    headerBackground="bg-primary"
  }}
  {{register-component-modal newUser=model class="mt-0 register-component__hidden" isModal=true routeName="index.index.button.login" routeTransition="index.index.button.chat"}}
</div>
