{{new-button-header
  isNewButton=model.isNew
  class=""
  button=model
  headerBackground="new-button-header--bg-white"
}}
{{button-new-description buttonNetController=buttonNetController button=model nextStepAction=(action 'nextStep')}}
