.profile-edition {
  &__checkbox-btn {
    justify-content: center !important;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    &--bg {
      background-color: #343a40;
    }
  }
  &__blocked-user-btn {
    background: #ccc;
    border-radius: 24px;
    display: inline-block;
    font-size: .85rem;
    margin: 0 .5rem .5rem 0;
    padding: 0.3rem 0.7rem;
    background-color: #fff;
    color: #0E0E0E;
  }
  &__interest {
    display: flex;
  }
  &__slider{
    width: 100%;
    height: 2rem;
  }
  &__map-button {
    margin-left: 15px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 3px;
  }
  &__map-container {
    height: 470px;
  }
  &__map {
    height: 350px;
  }
  &__container {
    padding-left: rem(25px);
    padding-right: rem(25px);
    min-height: calc(100% - 75px);
  }
  &__modal-delete {
    flex-direction: column;
    display: flex;
    overflow: hidden;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    padding-top: 33px;
    font-size: 25px;
    & strong {
      text-align: center;
    }
  }
  &__button-toggle {
    background: $color-corporative;
    border: #e5e5e5 1px solid;
    border-radius: rem(4px);
    color: $dark;
    font-size: .85rem;
    font-weight: bold;
    height: rem(50px);
    padding-left: 1rem;
    text-align: left;
    width: 100%;
    &:focus {
      outline: none;
    }
    &--grey-bordered {
      border-color: $dark;
    }

  }
  &__label {
    align-items: center;
    display: flex;
    font-size: .85rem;
    font-weight: bold;
    height: rem(32px);
    margin-bottom: 0;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  &__label-camera {
    align-items: center;
    top: 10px;
    left: calc(50% - 35px);
    position: relative;
    height: 0.1rem;
    width: 1px;

        &:hover{
          cursor: pointer;
          fill: $color-ligth-gray;

        }

  }

  &__input {
    border-radius: 0.3125rem;
    font-size: .85rem;
    height: rem(45px);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    &--dynamic-height {
      height: auto;
      min-height: 48px;
      & .ember-power-select-multiple-option {
        border-radius: 24px;
        display: inline-block;
        font-size: .85rem;
        margin: 0 .5rem .5rem 0;
        padding: $hashtag-padding-x $hashtag-padding-y;
        background-color: $color-corporative;
        color: $color-black;
        margin-top: calc((60px - 29px) / 2);
        border: none;
      }
    }
    &:focus {
      box-shadow: none;
      border-color: $dark;
    }
  }

  &__textarea {
    max-height: 20vh;
    min-height: 6.25rem;
  }
  &__activate-button {
    border: 1px solid black;
    width: 100%;
    height: rem(48px);
    background: none;
    margin-bottom: rem(20px);
    &--primary {
      background: $primary;
      border: 1px solid $primary;
    }
    & .icon {
      height: rem(30px);
      width: rem(30px);
    }
  }
  &__checkbox {
    border: 2px solid $dark;
    border-radius: .3125rem;
  }
  &__avatar {
    height: 100%;
    max-height: rem(100px);
    left:50%;
    &:hover{
      cursor: pointer;
    }
  }
  &__avatar-container {
    border-radius: 50%;
    justify-content: center;
    margin-left: 30px;
    overflow:  hidden;
    max-height: rem(100px);
    max-width: rem(100px);
    height: rem(100px);
    background: white;
    text-align: center;
    width: 100%;
    top:75%;
    margin-bottom: rem(20px);

    &:hover{


    }
    &__icon {
      vertical-align: middle;
      position: absolute;
      width: 5px;
      padding-top: 50%;
      background: transparent;
      &:hover{
        cursor: pointer;
    }
  }
}

  &__main-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    & .svg-image {
      max-width: 300px;
      max-height: 300px;
    }
  }
}

@media screen and (min-width: 992px) {
  .profile-edition {
    &__container {
      padding-left: 0;
      padding-right: 0;
    }
    &__input {
    }
  }
}
