.search-map {
  width: 100%;
  position: absolute;
  left: 0;
  .leaflet-container {
    height: 100%;
  }
  &__localize-user {
    background-color: white;
    padding: rem(4px);
    border: rem(1px) solid #e5e5e5;
    display: inline-block;
    z-index: 450;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    & .icon {
      max-height: 80%;
      fill: $dark;
    }
    &:hover {
      background-color: $dark;
      border: rem(2px) solid $dark;
      & .icon {
        fill: white;
      }
    }
    &--selected {
      &:hover {
        background-color: white;
        border: rem(1px) solid #e5e5e5;
        & .icon {
          max-height: 80%;
          fill: $dark;
        }
      }
      background-color: $dark;
      border: rem(2px) solid $dark;
      & .icon {
        fill: white;
      }
    }
    &.promise-button--loading {
      padding: 0;
      & svg{
        position: relative;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
