{{new-button-header
  isNewButton=model.isNew
  button=model
  class="buttons-new-activate-button__header"
  headerBackground="bg-transparent"
}}
{{button-new-activate button=model isNewButton=isNew nextStepAction=(action 'nextStep')}}
{{loading-overlay showOverlay=loading class=(if loading "col-2 button-new-description__spinner" "d-none")}}
