.buttons {
  background: $color-corporative;
  display: flex;
  flex-flow: row nowrap;

  .button-sample {
    flex: 0 1 50%;
    &:hover {
      background: $dark;
      color: $primary;
    }
  }
}
.buttons_gray {
  background: transparent;
  display: flex;
  flex-flow: row nowrap;

  .button-sample {
    flex: 0 1 50%;
    &:hover {
      background: $dark;
      color: $color-gray;
    }
  }
}
