.button-new-date {
  height: calc(100vh - 48px);
  margin-top: rem(48px);
  &__week-days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & button {
      border: 1px solid black;
      background: white;
    }
    & .selected {
      background-color: $dark;
      color: white;
      font-weight: bold;
    }
  }
  &__content-scroll {
      overflow-y: auto;
      border: none;
      width: 100%;
      background: none;
      padding: 0;
      height: 100;
      &:focus {
        outline: none;
      }
  }
  &__body {
    border: none;
    background: $color-ligth-gray;
    max-width: rem(500px);
    height: auto;
    border-radius: 0 0 .5rem .5rem;
    position: relative;
    z-index: 50;
    margin-left: auto;
    margin-right: auto;
    &:focus {
      outline: none;
    }
    &--small-height {
      & .button-new-location__text {
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
    }
    &-svg-image {
      height: 100%;
      width: 100%;
      max-width: rem(350px);
      max-height: rem(350px);
    }
    &-svg-container {
      min-height: rem(100px);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background: $color-ligth-gray;
    }
  }
  &__close-container {
    height: 100%;
    position: absolute;
    top: -5vh;
    z-index: 1;
    width: 100%;
    border: none;
    background: none;
    padding: 0;
  }
  &__text {
    font-size: 0.85rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  &__radio-icons {
    width: 100%;
    height: 100%;
    &--filled {
      fill: white;
    }
  }
  &__radio-buttons {
    background: white;
    background-size: 40px;
    color: $dark;
    align-items: center;
    border: 4px;
    display: flex;
    font-size: .85rem;
    padding: 1.5rem 2rem;
    position: relative;
    transition: background .2s;
    width: 100%;
    &--filled {
      background: $dark url("svg/icons/check-blue.svg") 95% center no-repeat;
      padding-right: 3.125rem;
      background-size: 40px;
      color: #fff;
    }
  }
  &__buttons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  &__pickers-modal {
    z-index: 1002;
    overflow: visible;
    &-content {
      max-width: rem(350px);
      width: 100%;
      overflow-y: visible !important;
      max-height: 90vh;
      overflow-x: hidden;
    }
  }
  &__button-outline {
    outline: none !important;
  }
}


@media screen and (min-width: 992px) {
  .button-new-date {
    height: calc(90vh - 48px);
    max-height: calc(700px - 48px);
    &__body {
      overflow-y: auto;
    }
    &__content-has-scroll {
      margin-left: calc((100vw - 500px) / 2);
      display: block;

    }
    &__next-step-btn {
      border-radius: 0 0 .5rem .5rem;
    }
  }
}
