.button-new-description {
  height: calc(100vh - 48px);
  margin-top: rem(48px);
  overflow-y: auto;
  &__content {
    position: relative;
    z-index: 50;
    border: none;
    background: $color-ligth-gray;
    max-width: 500px;
    border-radius: 0 0 .5rem .5rem;
    padding-top: 0;
    padding-bottom: 0;
    &:focus {
      outline: none;
    }
  }
  &__spinner {
    position: absolute;
    top: 75px;
    left: calc(50% - 34px);
    z-index: 50;
    & svg {
      background-color: $primary;
      border-radius: 50%;
    }
  }
  &__close-container {
    height: 100%;
    position: absolute;
    top: -5vh;
    z-index: 1;
    width: 100%;
    border: none;
    background: none;
    padding: 0;
  }
  &__content-scroll {
    height: calc(90vh - 48px);
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    border: none;
    background: none;
    padding: 0;
    &:focus {
      outline: none;
    }
  }
  &__body {
    background-color: $color-ligth-gray;
    height: 70%;
    min-height: fit-content;
    &-content {
      align-items: flex-end;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
    }
    &-svg-image {
      height: 100%;
      width: 100%;
      max-width: rem(350px);
      max-height: rem(350px);
    }
    &-svg-container {
      height: auto;
      min-height: rem(100px);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
  &__text {
    font-size: 0.85rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: left;
  }
  &__input {
    border: 1px solid #e5e5e5;
    border-radius: 0.3125rem;
    height: rem(50px);
    width: 100%;
    font-size: 0.85rem;
    margin-bottom: 1rem;
    &--textarea-height {
      height: 15vh;
      max-height: 20vh;
      min-height: rem(100px);
    }
    &::placeholder {
      color: #ADAFA6;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #ADAFA6;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #ADAFA6;
    }
    &:focus {
      border-color: $dark;
      box-shadow: none;
    }
  }
  &__img-row {
    align-items:center;
    text-align: right;
    justify-content: flex-end


  }
  &__img {
    height: auto;
    width: rem(35px);
  }
  &__exchange-container {
    height: rem(84px);
    display: flex;
    align-items: center;
    justify-content: center;
    & > button {
      width: rem(50px);
      height: rem(50px);
      background: transparent;
      border: none;
    }
  }
  &__select {
    text-align: center;
    max-height: 250px !important;
    &__small {
      display: none;
    }
    &.ember-basic-dropdown-content--above > ul {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__select-container {
    border: 1px solid #e5e5e5;
    border-radius: 0.3125rem;
    &:focus {
      border-color: $dark;
      box-shadow: none;
    }
  }
  &__icon {
    width: rem(35px);
    height: auto;
    border-radius: .2rem .2rem .2rem .2rem;
    &--stroked {
      stroke: $color-corporative;
      fill: $color-corporative;
      border-color: $dark;
      background-color: $dark;
    }
    &:hover {
      fill: $color-corporative;
      border-color: $dark;
      cursor: pointer;
      background-color: $dark;
    }
    &:focus {
      box-shadow: none;
    }
  }
}


@media screen and (min-width: 992px) {
  .button-new-description {
    height: calc(90vh - 48px);
    max-height: calc(700px - 48px);
    &__content {
      overflow-y: auto;
    }
    &__content-has-scroll {
      margin-left: calc((100vw - 500px) / 2);
      position: relative;
      z-index: 50;
    }
    &__next-btn {
      border-radius: 0 0 .5rem .5rem;
    }
  }
}
