.leaflet-div-icon {
  border: none;
  background: none;
}

// Markers move on staging??
.leaflet-marker-icon,
.leaflet-marker-shadow {
  margin-left: rem(-12px);
  margin-top: rem(-41px);
}

.leaflet-pane.leaflet-overlay-pane {
  svg.leaflet-zoom-animated {
     path.leaflet-interactive {
       fill-opacity: 0.75 !important;
       stroke: $color-corporative;
       stroke-width: 9;
    }
  }
}
