@keyframes start-ring {
    0% {
        opacity: 0;
        transform: scale(1)
    }

    12.5% {
        opacity: 0;
        transform: scale(.995)
    }

    16.667% {
        opacity: 1
    }

    50% {
        opacity: 0;
        transform: scale(1.3)
    }
}

.home-welcome-mobile {
  min-height: 100%;
  height: 100vh;
  position: relative;
  display: block;
  background-color: $primary;
  overflow-y: auto;
  overflow-x: hidden;
  &__container {
    max-height: calc(100% - 48px);
    margin-top: rem(48px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
  }
  &__header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 7;
    background: $primary;
    &-icon {
      width: 100%;
      height: rem(30px);
      width: 30px;
      height: auto;
      max-height: 30px;
      border-radius: 10rem;
      &:active,
      &:focus,
      &:hover
      {
        fill: $color-corporative;
        background-color: $dark;
        text-decoration: none;
      }
    }
    &-menu {
      height: rem(30px);
    }
    &-button {
      background: none;
      border: none;
    }
  }
  &__small-buttons {
    background-color: transparent;
    border-radius: 20px;
    // border-color: $dark;
    border: rem(2px) solid $dark;//#343a40;
    color: $dark;
    font-weight: bold;
    height: rem(30px);
    width: 50%;
    text-decoration: none;
    vertical-align: middle;
    min-width: rem(115px);
    margin-bottom: 2rem;
    & a {
      text-decoration: none;
      vertical-align: middle;
      color: inherit;
    }
    &:hover {
      color: $primary;
      background-color: $dark;
    }
    &:focus {
      outline: none;
    }
  }
  &__seeall {
    margin: 0 .5rem .5rem 0;
    background-color: $color-corporative;
    color: $dark;
    border-color: $dark;
    &:focus {
      text-decoration: underline;
    }
    &:before {
      content: "";
    }
  }
  &__align-bottom {
    width: 100%;
  }
  &__align-top {
    position: relative;
    top: 15px;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  &__svg {
    min-width: rem(300px);
    min-height: rem(320px);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    & > * {
      fill: $dark;
    }
  }
  &__text {
    background-color: $primary;
    font-size: initial;
    &--green {
      color: $color-green;
    }
    &--red {
      color: $color-red;
    }
  }
  &__slogan{
    font-size: 22px;
  }
  &__half-screen {
    margin-top: 64px;
    display: block;
  }
  &__trending-tags {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100vh;
    top: 100px;
    min-height: rem(350px);
    margin: 0;
    &--z-index {
      z-index: 4;
    }
  }
  &__create-button {
    min-height: rem(288px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100%;
    position: relative;
    z-index: 1;
    &-border {
      justify-content: center;
      align-items: center;
      padding: rem(5px);
      background: #FFDD02;
      display: flex;
      border: 3px solid $dark;
      border-radius: 50%;
      width: 50vw;
      height: 50vw;
      max-width: rem(208px);
      max-height: rem(208px);
      min-width: rem(160px);
      min-height: rem(160px);

      position: absolute;
      z-index: 50;
      box-sizing: border-box;
      opacity: 0;
      animation-name: start-ring;
      animation-delay: 3.5s;
      animation-duration: 3.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear
    }
    &-text {
      font-size: rem(15px);
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
      padding-bottom: 25%;
    }
    & svg {
      max-width: rem(30px);
      fill: $primary;
      padding-top: 15%;
      width: 25%;
      fill: $primary;
    }
  }
  &__button-design {
    margin: 0px;
    background: $dark;
    color: #FFDD02;
    border-radius: 50%;
    height: 50vw;
    width: 50vw;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 52;
  }
}

@media screen and (min-width: 420px) {
  .home-welcome-mobile {
    &__create-button{
      &-border {
        max-width: calc(14vw + 13vh);
        max-height: calc(14vw + 13vh);
        min-width: rem(200px);
        min-height: rem(200px);
      }
      &-text {
        font-size: rem(20px);
      }
    }
    &__button-design{
      max-width: calc(14vw + 13vh);
      max-height: calc(14vw + 13vh);
      min-width: rem(200px);
      min-height: rem(200px);
    }
  }
}
