.loading-overlay {
    &__load-over-map{
      z-index: 1500;
      position: absolute;
      left: 0;
      top: rem(220px);
      & .loading-overlay__loading-icon {
        background-color: $primary;
        border-radius: 50%;
      }
    }
    &__loading-icon {
      width: 3rem;
      height: 3rem;
      margin-top: rem(10px);
    }
}
