.login-component {
  display: flex;
  justify-content: center;
  min-height: unset;
  background-color: $primary;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0rem;
  overflow-y: auto;
  &__hidden {
    // overflow: hidden;
  }
  &__main-page {
    height: 100vh;
    margin-top: 0;
    padding-top: 3rem;
  }
  & > .row {
    height: auto;
  }
  &__inputs-container {
    // padding-left: 0;
    // padding-right: 0;
    // max-width: rem(500px);
    // margin-top: auto;
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // height: 100vh;
    // min-height: 370px;
    padding-left: 0;
    padding-right: 0;
    max-width: rem(500px);
    padding-top: rem(32px);
  }
  &--max-height {
    height: calc(100vh - 48px);
  }
  &__modal-content {
    // display: flex;
    // align-items: flex-end;
  }
  &__remove-local {
    border: 0;
    background: none;
    text-decoration: underline;
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .login-component {
    // height: auto;
    // overflow-y: auto;
    // margin-top: 0;
    // z-index: 50;
    // display: block;
    // justify-content: unset;
    // min-height: calc((var(--vh, 1vh) * 100) - 0px);
    display: flex;
    justify-content: center;
    background-color: #FFDD02;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 3rem;
    overflow-y: auto;
    &__hidden {
      overflow: auto;
    }
    &__main-page {
      margin-top: 0;
      padding-top: 0rem;
      display: flex;
      justify-content: center;
      background-color: #FFDD02;
      padding-left: 1rem;
      padding-right: 1rem;
      overflow-y: unset;
      border-radius: unset;
      &--high {
        height: calc(100% - 75px)
      }
    }
    &--taller {
      min-height: calc(100vh);
    }
    &__modal {
      max-width: 31.25rem;
      height: calc(90vh - 202px);
      margin-top: 3rem;
      margin-left: auto;
      padding: 0;
      margin-right: auto;
      background: none;
      border-radius: 0 0 0.5rem 0.5rem;
      min-height: unset;

      &-content {
        height:calc(50vh - 1px);
        margin-left: auto;
        margin-right: auto;
        max-width: rem(500px);
        background: $primary;
        position: relative;
        z-index: 2;
        border: none;
        border-radius: 0 0 .5rem .5rem;
        padding-top: 0;
        padding-bottom: 0;
        min-height: calc(100vh - 75px);
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        &:focus {
          outline: none;
        }
      }
    }
    &__close-container {
      height: calc(90vh - 48px);
      position: absolute;
      top: 0;
      z-index: 1;
      width: 100%;
      border: none;
      background: none;
      padding: 0;
      &--chat {
        width: auto;
      }
    }
    &__inputs-container {
      margin-top: auto;
    }
    &__remove-local {
      border: 0;
      background: none;
      text-decoration: underline;
      padding: 0;
    }
  }
}
