.new-button-header {
  height: rem(48px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  &--chat {
    top: 0;
  }
  &__register {
    position: inherit;
  }
  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  &__button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    &:active,
    &:focus {
      outline: none;
    }

    .icon {
      width: $header-nav-icon-width;
      height: auto;
      max-height: 25px;
    }
  }

  &__center {
    flex: 0 1 $header-center-width;
    text-align: center;
    padding: 0 rem(10px);

    .icon {
      max-width: 100%;
      max-height: 25px;
      height: auto;
    }
  }

  &__nav {
    flex: 0 1 $header-nav-width;
    text-align: center;
  }

  &__title {
    @extend .header__title;
  }
  &--bg-white {
    background: #EEE;
  }
  &__register {
    position: relative;
    top: unset;
    &--button {
      margin-left: unset !important;
    }
  }
}

@media screen and (min-width: 992px) {
  .new-button-header {
    max-width: rem(500px);
    margin-left: calc((100% - 500px) / 2);
    border-radius: .5rem .5rem 0 0;
    &--chat {
      top: 8rem;
    }
    &__content {
      max-width: rem(500px);
      position: relative;
      z-index: 50;
      border-radius: .5rem .5rem 0 0;
    }
    &__nav {
      flex: 0 1 $header-nav-width;
      text-align: center;
    }
    &__button {
      background-color: transparent;
      border-style: none;
      border:none;
      cursor: pointer;
      &:active,
      &:focus {
        outline: none;
      }

      .icon {
        width: $header-nav-icon-width;
        height: auto;
        max-height: 25px;
      }
    }
  }
}
