{{head-layout}}
{{notification-container position="top"}}

  {{outlet}}

{{!-- Footer --}}
{{#unless hideFooter}}
  <div class="container-fluid application-footer {{if mapFooterClass "application-footer--map"}}">
    <div class="row">
      <div class="col-2">
        {{svg-jar "svg-logo-footer"}}
      </div>
      <div class="col-9 ml-5  {{if mapFooterClass "mt-5"}}">
        <div class="row application-footer__links">
          <div class="col-auto">
            <div class="mb-1 mt-4">
              {{#link-to 'others' (query-params section="donate")}}Ayuda al proyecto{{/link-to}}
            </div>
            <div class="mb-1">
              {{#link-to 'others' (query-params section="info")}}¿Quiénes somos?{{/link-to}}
            </div>
            <div class="mb-1">
              {{#link-to 'others' (query-params section="contact")}}Ayuda{{/link-to}}
            </div>
          </div>
          <div class="col-auto">
            <div class="mb-2">
              <strong>Soporte</strong>
            </div>
            <div class="mb-1">
              {{#link-to 'others' (query-params section="info")}}Preguntas Frecuentes{{/link-to}}
            </div>
            <div class="mb-1">
              {{#link-to 'others' (query-params section="security")}}Consejos de seguridad{{/link-to}}
            </div>
            <div class="mb-1">
              {{#link-to 'others' (query-params section="general-rules")}}Reglas de convivencia{{/link-to}}
            </div>
          </div>
          <div class="col-auto">
            <div class="mb-2">
              <strong>Legal</strong>
            </div>
            <div class="mb-1">
              {{#link-to 'others' (query-params section="general-rules")}}Políticas y convenciones{{/link-to}}
            </div>
            <div class="mb-1">
              {{#link-to 'others' (query-params section="privacy")}}Políticas de privacidad{{/link-to}}
            </div>
          </div>
          <div class="col-auto">
            <div class="mb-2">
              <strong>Extras</strong>
            </div>
            <div class="mb-1">
              {{#link-to 'others' (query-params section="donate")}}Donar{{/link-to}}
            </div>
            <div class="mb-1">
              {{#link-to 'others' (query-params section="collaborate")}}Colabora con Helpbuttons{{/link-to}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <a href="https://twitter.com/Helpbuttons" class="application-footer__social-network-link" target="_blank" rel="noopener">
          {{svg-jar "twitter-brands" class="application-footer__social-network-icon"}}
        </a>
        <a href="https://www.facebook.com/Helpbuttonsorg-1235228986679701/?ref=br_rs" class="application-footer__social-network-link" target="_blank" rel="noopener">
          {{svg-jar "facebook-official" class="application-footer__social-network-icon"}}
        </a>
        <a href="https://www.instagram.com/helpbuttons/" class="application-footer__social-network-link" target="_blank" rel="noopener">
          {{svg-jar "instagram-brands" class="application-footer__social-network-icon"}}
        </a>
      </div>
    </div>
  </div>
{{/unless}}
