<div class="card-btn card-button-change card-btn-change">
  <div class="card-btn__thumb">
    <div class="card-btn__author">
      <div class="card-btn__avatar">
          {{svg-jar 'profile_def' class="default-avatar"}}
      </div>
      {{!-- END Picture avatar --}}
      <div class="card-btn__author-wrap">
        <span class="card-btn__author-name">
          <span>
            Tu nombre
          </span>
        </span>
        <span class="card-btn__state card-btn__state{{cardBtnType}}">
          {{#if needsAndOffer}}
            {{#if button.swap}}
              <span class="card-button__status--busca">NECESITA</span> y <span class="card-button__status--ofrece">OFRECE</span>
            {{else}}
              <span class="card-button__status--ofrece">OFRECE</span> y <span class="card-button__status--busca">BUSCA</span>
            {{/if}}
          {{else}}
            {{buttonIntention}}
          {{/if}}
        </span>
      </div>
    </div>
  </div>
  <div class="card-btn__content">
        <div class="card-btn__tags card-btn__tags--red">
            <div class="card-btn__link-tag">
              #Qué necesitas
            </div>
        </div>
        <div class="card-btn__tags card-btn__tags--green">
            <div class="card-btn__link-tag">
              #Qué ofreeces
            </div>
        </div>
    <div class="resume">
      <p>
        Describe lo que necesitas y ofreces con el texto que quieras
      </p>
    </div>
  </div>
  <div class="card-btn__head">
          <div class="card-button__city-list card-button__everywhere col-auto" {{action 'toggleAttr' 'showMap'}}>
          En todas partes
          </div>
    <div class="card-btn__when">
      Ahora
    </div>
  </div>
    <picture class="card-btn__picture picture">
      <img alt="Button Image" src="">
    </picture>
</div>
