{{new-button-header
  isNewButton=false
  class=""
  button=model
  headerBackground="new-button-header--bg-white"
}}
{{button-new-description-modal button=model nextStepAction=(action 'nextStep') closeAction=(action 'closeAction')}}
